.row{
    background-color: #01151d;
}
h1, h2{
    color: azure;
    display: inline;
}
.contenedor{
    width: auto;
}
p{
    color: azure;
}
footer{
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #033549;
}