<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col.md-4 col-lg-4">
    <circle-progress
      [percent]="70"
      [radius]="59"
      [title]="'HTML'"
      [showSubtitle]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cd0000'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'#003f59'"
      [backgroundPadding]="-18"
      [titleColor]="'#ffffff'"
      [subtitleColor]="'#ffffff'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col.md-4 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="59"
      [title]="'CSS'"
      [showSubtitle]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cd0000'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'#003f59'"
      [backgroundPadding]="-18"
      [titleColor]="'#ffffff'"
      [subtitleColor]="'#ffffff'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col.md-4 col-lg-4">
    <circle-progress
      [percent]="80"
      [radius]="59"
      [title]="'JAVA'"
      [showSubtitle]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cd0000'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'#003f59'"
      [backgroundPadding]="-18"
      [titleColor]="'#ffffff'"
      [subtitleColor]="'#ffffff'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col.md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="59"
      [title]="'Java Scrit'"
      [showSubtitle]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cd0000'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'#003f59'"
      [backgroundPadding]="-18"
      [titleColor]="'#ffffff'"
      [subtitleColor]="'#ffffff'"
      [titleFontSize]="'17px'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col.md-4 col-lg-4">
    <circle-progress
      [percent]="50"
      [radius]="59"
      [title]="'Ingles'"
      [showSubtitle]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cd0000'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'#003f59'"
      [backgroundPadding]="-18"
      [titleColor]="'#ffffff'"
      [subtitleColor]="'#ffffff'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col.md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="59"
      [title]="'GitHub'"
      [showSubtitle]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#cd0000'"
      [innerStrokeColor]="'#ffffff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'#003f59'"
      [backgroundPadding]="-18"
      [titleColor]="'#ffffff'"
      [subtitleColor]="'#ffffff'"
    ></circle-progress>
  </div>
</div>
