<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Cornejo Samuel Josué</p>
    <p id="estudio">Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span id="acerca">
      <h1>Acerca de mí</h1>
      <p>
        Hey! Hola! Mucho gusto! qué tal?. Mi nombre es Samuel Cornejo, tengo 29
        años y soy un aficionado al desarrollo web del cual disfruto mucho.
        También soy músico y creador de contenidos audiovisuales. Gracias por
        visitar mi portafolio.
      </p>
    </span>
  </div>
</div>
