.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
}
img{
    width: 45px;
}
.btn{
    border-width: medium;
}
/*vista celu*/
@media (max-width:575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .redes img{
        margin: 0.5em;
    }
}
